# Python

#### Introduction to python
#### Installing Python, Jupyter nodebook, google collab

#### Comments

In [7]:
#1) Comments can be used to explain Python code.
#2) Comments can be used to prevent execution when testing code.
#3) Comments can be placed at the end of a line, and Python will ignore the rest of the line:

# # // cltr + /
# shift + enter

NameError: name 'shift' is not defined

In [4]:
tushar = 64378487

#### Variables

In [1]:
# 1) Variables are containers for storing data values.
# 2) A variable is created the moment you first assign a value to it.
# 3) Case-Sensitive

# Variables names

# *A variable name must start with a letter or the underscore character
# *A variable name cannot start with a number
# *A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
# *Variable names are case-sensitive (age, Age and AGE are three different variables)
# *A variable name cannot be any of the Python keywords.

# *Legal variable names:

myvar = "John"
my_var   my_nameistushar = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

My_Tushar = "tushar"

# *Illegal variable names:

3myvar = "John"
my-var = "John"
my var = "John"

# variables writting styles
# *myVariableName = "John"
# *MyVariableName = "John"
# *my_variable_name = "John"

In [2]:
x = "tushar"
print()

tushar

### Data Types

In [20]:
x = tushar
x

64378487

In [24]:
s = "tushars"
s
6773838
7.6

'tushars'

In [28]:
# Built-in Data Types
# 1)In programming, data type is an important concept.
# 2)Variables can store data of different types, and different types can do different things.
# 3)"Python has the following data types built-in by default, in these categories:""

# *Text Type:	str
# *Numeric Types:	int, float, complex
# *Sequence Types:	list, tuple, range
# *Mapping Type:	dict
# *Set Types:	set, frozenset
# *Boolean Type:	bool
# *Binary Types:	bytes, bytearray, memoryview
# *None Type:	NoneType




x = "Hello World"	str	
x = 20	integer
x = 20.5	float	
x = 1j	complex	
x = ["apple", "banana", "cherry"]	list	
x = ("apple", "banana", "cherry")	tuple	
x = range(6)	range	
x = {"name" : "John", "age" : 36}	dict	
x = {"apple", "banana", "cherry"}	set	
x = True	bool	
x = None	NoneType

true or false  boolean values
x= 3
y = 4
x > y
# Setting the Specific Data Type


x = str("Hello World")	str	
x = int(20)	int	
x = float(20.5)	float	
x = bool(5)	bool	


# x = complex(1j)	complex	

x = list(("apple", "banana", "cherry"))	list	
x = tuple(("apple", "banana", "cherry"))	tuple	
x = dict(name="John", age=36)	dict	
x = set(("apple", "banana", "cherry"))	set	

# x = frozenset(("apple", "banana", "cherry"))	frozenset	

# x = bytes(5)	bytes	
# x = bytearray(5)	bytearray	
# x = memoryview(bytes(5))	memoryview

#### Type casting

In [25]:
x = 3
y = 4
x > y


x = "tushar"   string
y = 1233    integer
z = 9.6    float
t = true or false boolean
xx
x = "sam"
x

False

In [16]:
x = 788789.88
x = float(x)
type(x)
x = float(776786.0)
float
str

float

In [29]:
# Specify a Variable Type

# *integer 
#    z = int("3")
# *float
#    w = float("4.2")
# *string
#    z = str(3.0)

In [ ]:
+ - =

#### Operators

In [8]:
# 1) Operators are used to perform mathematical operations on variables and values.

# *Arithmetic operators
# *Assignment operators
# *Comparison operators
# *Logical operators
# *Identity operators
# *Membership operators
# *Bitwise operators

# 1) Arithmetic operators
# +	 Addition	      x + y	
# -	 Subtraction	  x - y	
# *	 Multiplication	  x * y	
# /	 Division	      x / y	
# %	 Modulus	      x % y	
# ** Exponentiation	  x ** y	
# // Floor division	  x // y

# 2) Assignment operators
x += y
# =	        x = 5	    x = 5	
# +=	    x += 3	    x = x + 3	
# -=	    x -= 3   	x = x - 3	
# *=	    x *= 3  	x = x * 3	
# /=	    x /= 3	    x = x / 3	
# %=	    x %= 3	    x = x % 3	
# //=	    x //= 3	    x = x // 3	
# **=	    x **= 3	    x = x ** 3	
# &=	    x &= 3  	x = x & 3	
# |=	    x |= 3  	x = x | 3	
# ^=	    x ^= 3  	x = x ^ 3	
# >>=	    x >>= 3  	x = x >> 3	
# <<=	    x <<= 3  	x = x << 3	

# 3) Comparison operators

# ==    Equal	                     x == y	
# !=    Not equal	                 x != y	
# >     Greater than                 x > y	
# <	    Less than	                 x < y	
# >= 	Greater than or equal to	 x >= y	
# <=    Less than or equal to	     x <= y

# 4) Logical operators

# and    	Returns True if both statements are true	                    x < 5 and  x < 10	
# or	    Returns True if one of the statements is true	                x < 5 or x < 4	
# not	    Reverse the result, returns False if the result is true	not    (x < 5 and x < 10)

In [46]:
y = 3
x = 2 

not(x > y and x < y)

False

In [27]:
x = 5
y = 2

print(x % y)

1

#### Condittional Statements

##### 1) If Statement
##### 2) If-else Statement
##### 3) If-elif-else Statement
##### 4) Nested Statement
##### 5) short hand if statement

In [22]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [24]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [28]:
a = 33
b = 200
if  not a > b:
  print("a is NOT greater than b")
    elf1
    elf2
    
else:
    print("a is write")
elfi

a is NOT greater than b

In [35]:
# 1) If Statement

# Python supports the usual logical conditions from mathematics:

# Equals: a == b
# Not Equals: a != b
# Less than: a < b
# Less than or equal to: a <= b
# Greater than: a > b
# Greater than or equal to: a >= b
# These conditions can be used in several ways, most commonly in "if statements" and loops.

# An "if statement" is written by using the if keyword.


# > a = 33
# > b = 200
> if b > a:
>   print("b is greater than a")

# If statement, without indentation (will raise an error):

# > a = 33
# > b = 200
# > if b > a:
# > print("b is greater than a") # you will get an error


# Else Statement

# > a = 200
# > b = 33
# > if b > a:
# >   print("b is greater than a")
# > else:
# >   print("a is greater than b")


# Elif Statement

# > The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

# > a = 33
# > b = 33
# > if b > a:
# >   print("b is greater than a")
# > elif a == b:
# >   print("a and b are equal")
# > else:
# >   print("a is greater than b")

# Short Hand If

# > If you have only one statement to execute, you can put it on the same line as the if statement.

# >  if a > b: print("a is greater than b")

# Short Hand If ... Else

# > If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

# > a = 2
# > b = 330
# > print("A") if a > b else print("B")

# > print("A") if a > b else print("=") if a == b else print("B")


# using this
# And
# > if a > b and c > a:
#   print("Both conditions are True")
# Or
# > if a > b or a > c:
#   print("At least one of the conditions is True")
# Not
# > if not a > b:
#   print("a is NOT greater than b")


# Nested If 
# > You can have if statements inside if statements, this is called nested if statements.

# > x = 41

# > if x > 10:
# >   print("Above ten,")
# >   if x > 20:
# >     print("and also above 20!")
# >   else:
# >     print("but not above 20.")


# The pass Statement
# > if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

# > a = 33
# > b = 200

# > if b > a:
# >   pass

In [ ]:
# > a = 33
# > b = 200
> if b > a:
>   print("b is greater than a")

In [30]:
a = 200
b = 200
if a > b:
    if b > a:
        print(x)
        print("this true")

In [ ]:
if a > b: print("this true")

#### Loops

##### 1) For Loop
##### 2) While Loop
##### 3) While True
##### 4) Nested Loop

In [31]:
fruits = ["apple", "banana", "cherry"] 
for i in fruits:
  print(i)
    if banana > 4 :
        print(loop is stoped)

apple
banana
cherry

In [1]:
# 1) For Loop

# > For loop is a loop that repeats something in a given range.
# > The range has a starting point, ending point and a step/gap in it.
# > +1 is added to the ending point while defining a range.

> fruits = ["apple", "banana", "cherry"]
> for i in fruits:
>   print(i)

# Loop through the letters in the word "banana":
# > for x in "banana":
# >   print(x)

# The range() Function
# > The range() function returns a sequence of numbers, starting from 0 by default,
#   and increments by 1 (by default), and ends at a specified number.
# > for x in range(0, 31, 2):
# >   print(x

# The pass Statement
# > for x in [0, 1, 2]:
# >   pass

In [35]:
for i in fruits:
  print(i)

i = 1
a = 2
while a < 10:
  print(a)
  a += 2

2
4
6
8

In [ ]:
# 2) While Loop

# > while loop executes till the given condition is true.
# > in while loop, the increment is done inside the loop.

# > i = 1
# > while i < 6:
# >   print(i)
# >   i += 1

# > The while loop requires relevant variables to be ready, 
#   in this example we need to define an indexing variable, i, which we set to 1.

# > n = 1
# > a = 7
# > while n<=10:
# >     print (a, "x", n,"=" , n*a)
#       n+=1

# The break Statement
# i = 1
# while i < 6:
#   print(i)
#   if i == 3:
#     break
#   i += 1

# The continue Statement
# i = 0
# while i < 6:
#   i += 1
#   if i == 3:
#     continue
#   print(i)

#### String

In [ ]:
Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".
tushar = "tushar isn't"

Quotes Inside Quotes
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

Strings are Arrays
> Get the character at position 1 (remember that the first character has the position 0):
> a = "Hello, World!"
> a[1]

In [37]:
fruits = ["apple", "banana", "cherry"]
fruits[0]

'apple'

In [38]:
a = "Hello, World!"
a[1]

'e'

#### String - manipulation

##### 1) length
##### 2) upper
##### 3) lower
##### 4) index
##### 5) capitalize

In [40]:
a = "Hello, World!"
a.upper()

'HELLO, WORLD!'

In [41]:
txt = "hello, and welcome to my world."
x = txt.capitalize()
x

'Hello, and welcome to my world.'

In [39]:
1) length
> a = "Hello, World!"
> len(a)

2) upper
> a = "Hello, World!"
> a.upper()

3) lower
> a = "Hello, World!"
> a.lower()

4) index
Where in the text is the word "welcome"
> txt = "Hello, welcome to my world."
> x = txt.index("welcome")
> x

5) capitalize
Upper case the first letter in this sentence:
> txt = "hello, and welcome to my world."
> x = txt.capitalize()
> x

SyntaxError: unmatched ')' (4007954914.py, line 1)

#### Slicing String

In [ ]:
# *Get the characters from position 2 to position 5 (not included):
# b = "Hello, World!"
# b[2:5]

# *Slice From the Start
# b = "Hello, World!"
# b[:5]

# *Slice To the End
# b = "Hello, World!"
# b[2:]

# *Use negative indexes to start the slice from the end of the string:
# b = "Hello, World!"
# b[-5:-2]

In [48]:
fruits = ["apple", "banana", "cherry","mango","jackfruit"]
fruits[0:-2]

['apple', 'banana', 'cherry']